@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #c3775e;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables end */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
    background: linear-gradient(90deg,#e6b0a7 60%, #fdded9 60%);
    position: sticky;
    /*width: 100%;*/
    /*font-size: 20px;*/
    /*display: flex;*/
    /*justify-content: space-evenly;*/
    /*padding: 5%;*/

}
.handwriting {
    font-family: 'adaminaregular', sans-serif;
    font-size: 48px;
}
.column{
    display: block;
    float: snap;
    position: center;
}

.hello{
    display:block;
    height: 300px;
    width: 300px;
    float: right;
    margin-left: auto;
    margin-right: 5%;
    position: center;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background: linear-gradient(90deg, #e6b0a7 60%, #fdded9 60%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav h1 {
    color: #8e9f91;
}

nav a {
    color:#fcfcfc;
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    display: block;
    float: right;
    font-weight: var(--bold-font);
}
.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 850px){
    .navbar ul li {
        display: none;
    }
    .hello{
        display: block;
        margin-left: 10%;
        margin-right: auto;
        height: 400px;
        width: 400px;
        position: center;
        float: left;

    }
    body{
        background: #fdded9;
    }
    nav{
        background: #fdded9;
    }
    .column{
        display: block;
        float: snap;
        position: center;
    }

    }

