@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid&display=swap');

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #c3775e;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables end */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
    background: linear-gradient(90deg,#e6b0a7 60%, #fdded9 60%);
    /*position: sticky;*/


}
.handwriting {
    font-family: 'adaminaregular', sans-serif;
    font-size: 48px;

}
.row {
     /*display: flex;*/
     /*float: right;*/
     /*align-items: center;*/
     /*justify-content: right;*/
     /*!*gap: 2.5rem;*!*/
     /*max-width: 68.75rem;*/
     /*margin: auto;*/
 }
.bio-title{
    font-family: 'adaminaregular', sans-serif;
    text-align: left;
    font-size: 25px;

}
.bio {
    display: block;
    /*position: fixed;*/
    margin-top: 100px;
    width: 25rem;
    align-items: center;
    justify-content: right;
    padding: 0.650rem;
    border-radius: 10px;
    text-align: left;
    font-size: 35px;
    margin-bottom: 20rem;
    float: right;
    margin-right: -25rem;
    flex-direction: column;
    gap: 2.5rem;




    /*box-shadow: 0px 2px 15px 2px var(--primary-shadow);*/
}
.column{
    display: block;
    float: snap;
    position: center;
}

.row{
    display: block;
    align-items: center;
    justify-content: right;
    margin-left: -20rem;
    margin-right: 35%;
    position: center;
    float: right;

}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background: linear-gradient(90deg, #e6b0a7 60%, #fdded9 60%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav h1 {
    color: #8e9f91;
}

nav a {
    color:#fcfcfc;
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    display: block;
    float: right;
    font-weight: var(--bold-font);
}
.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}
.bio-text{
    font-family: 'Londrina Solid', cursive;
    margin-top: 20px;
}

em:hover{
    /*font-size: 50px;*/
    font-weight: bold;
    color: #fcfcfc;

}





@media screen and (max-width: 850px){
    .navbar ul li {
        display: none;
    }
    .row{
        display: block;
        margin-left: 10%;
        margin-right: auto;
        position: center;
        float: left;

    }
    body{
        background: #fdded9;
    }
    nav{
        background: #fdded9;
    }
    .column{
        display: block;
        float: snap;
        position: center;
    }
    .bio {
        display: block;
        align-items: center;
        justify-content: left;
        margin-bottom: 20rem;
        width: 25rem;
        padding: 0.625rem;
        border-radius: 10px;
        /*box-shadow: 0px 2px 15px 2px var(--primary-shadow);*/
    }
    .bio-text{
        margin-top: 10px;
        font-size: 30px;
    }


    }
@media screen and (min-width: 850px) {
    .p {
        font-size: 35px;
        margin-right: 20rem;
        margin-left: 20rem;
    }
}